<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • TodoMVC</title>
  <link rel="stylesheet" href="assets/base.css">
</head>
<body>
  
  <!-- 
    'One way of including templates in the page is by using custom script tags. These don’t get evaluated by the browser, which just interprets them as plain text.''
   -->
  <script type="text/template" id="template-todoItemView">
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label><%- title %></label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="<%- title %>">
  </script>

 <script type="text/template" id="template-footer">
    <span id="todo-count"><strong></strong>  left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>   
    <button id="clear-completed">Clear completed ()</button>
  </script>


  <script type="text/html" id="template-header">
      <header id="header">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
      </header>
  </script>



   <script type="text/html" id="template-todoListCompositeView">
     <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
   </script>



  
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.localStorage-min.js"></script>
  <script src="js/lib/backbone.marionette.js"></script>
  
  <!-- 
  <script src="js/models/todo.js"></script>  
  <script src="js/collections/todos.js"></script>
  <script src="js/views/todos.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/routers/routers.js"></script>
  <script src="js/app.js"></script>
  -->
  
  <script src="js/TodoMVC.js"></script>
  <script src="js/TodoMVC.Layout.js"></script>
  <script src="js/TodoMVC.TodoList.js"></script>
  <script src="js/TodoMVC.TodoList.Views.js"></script>
  <script src="js/Todos.js"></script>

   <section id="todoapp">
    <header id="header"></header>
    <section id="main"></section>
    <footer id="footer"></footer>
  </section>
  <div id="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </div>
</body>
</html>